nav{
    /* width: 95vw; */
    width: 95%;
    height: 80px;
    padding: 0 30px ;
    border-radius: 13px;
    box-shadow: 0 15px 5px 0 rgba(0,0,0,.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 9;
}
nav .logo{
    font-size: 2rem;
    color: #222;
}
nav .item{
    display: flex;
    align-items: center;
    gap: 10px;
}
nav ul{
    display: flex;
    gap: 10px;
    list-style: none;
}

nav ul a{
    text-decoration: none;
    font-size:1.2rem ;
    font-weight: 600;
    padding: .7rem 1rem;
    border-radius: 4px;
    color: #222;
}
nav ul a:hover , .navMenu a:hover{
background-color: #01959a;
color: white;
transition: .5s all;
}
.navMenu a.active,nav ul a.active{
    background-color: #01959a;
    color: white;
}


nav .item button{
    border-radius: .3rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    padding: .5rem 1rem;
    color: #222;
    border: none;
}
nav .item button:hover{
    background-color: black;
    color: white;
    transition: .5s all;    
}
nav .burger {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 25px;
    display: none;
}
.navMenu{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-160%);
    width: 95%;
    padding-top: 80px;
    padding-bottom: 30px;
    background-color: white;
    border-radius: 13px;
    box-shadow: 0 15px 5px 0 rgba(0,0,0,.25);
    transition: 1s all;
    
}
.navMenu.active{
    transform: translateX(-50%);
}

.navMenu ul{
    list-style: none;
}
.navMenu ul a{
    display: block;
  text-decoration: none;
  color: #222;
  padding: 2rem 0;
  width: 100%;
  text-align: center;
  
  
}
.navMenu button{
    background-color: #01959a;
    border-radius: 4px;
    color: white;
    display: block;
    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: 2px;
    margin: auto;
    padding: 1.5rem;
    text-align: center;
    text-decoration: none;
    width: 80%;
    border: none;


}
@media screen and (max-width:992px) {
    nav .burger{
        display: block;
    }
    nav .item{
        display: none;
    }
    
}






