.hero{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.hero h1{
    font-size: 3rem;
    font-weight: 800;
    color: #fff;
    text-align: center;
}
.hero p{
    font-size: 1.3rem;
    padding: .5rem 0 2rem;
    text-align: center;
}
.hero button{
    background: #fff;
    border-radius: 6px;
    color: #222;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
}
